*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}

html,
body{
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  height: 25vh;
}

.card{
  background-color: darkred;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 20px;
  width: 300px;
  text-align: center;
  margin: auto;
}


/* Navbar container */
.navbar {
  position: fixed;         /* Stays at the top */
  top: 0;
  left: 0;
  width: 100%;             /* Full width */
  height: 60px;            /* Navbar height */
  background-color: #1e1e1e; /* Dark background */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  color: white;
  z-index: 1000;           /* Keeps it above everything */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}